<ion-header>
    <ion-toolbar>
        <ion-button slot="start">
            <ion-back-button defaultHref="/principal/"></ion-back-button>
          </ion-button>
      <ion-title>Mis productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>   
    <ion-card-content>   
      <ion-list>
        <ion-item *ngFor="let item of productos">
          <ion-grid>
            <ion-row>
              <ion-col>Nombre: {{item.nombre}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Descripcion: {{item.descripcion}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Categoria: {{item.categoria}}</ion-col>
            </ion-row>
            <ion-row *ngIf="item.categoria == 'tecnologia'">
                <ion-col>Estado: {{item.estado}}</ion-col>
              </ion-row>
            <ion-row *ngIf="item.categoria == 'inmobiliaria'">
              <ion-col>Metros: {{item.metros}}</ion-col>
            </ion-row>
            <ion-row *ngIf="item.categoria == 'inmobiliaria'">
                <ion-col>Baños: {{item.banios}}</ion-col>
              </ion-row>
           <ion-row *ngIf="item.categoria == 'inmobiliaria'">
            <ion-col>Habitaciones: {{item.habitaciones}}</ion-col>
           </ion-row>
           <ion-row *ngIf="item.categoria == 'inmobiliaria'">
             <ion-col>Localidad: {{item.localidad}}</ion-col>
           </ion-row>
           <ion-row *ngIf="item.categoria == 'motor'">
              <ion-col>Vehiculo: {{item.vehiculo}}</ion-col>
            </ion-row>
           <ion-row *ngIf="item.categoria == 'motor'">
              <ion-col>Km: {{item.km}}</ion-col>
            </ion-row>
            <ion-row *ngIf="categoria == 'motor'">
                <ion-col>Año: {{item.anio}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Usuario: {{item.usuario}} </ion-col>
              </ion-row>
               <ion-row>
              <ion-col>Precio: {{item.precio}} €</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
